.slider-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  width: 100%;
  z-index: 10;
}

.slider {  
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 33em;  
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
}